.navigation {
  background-color: #F2F1F5;
  padding: 10px 0 13px;

  &__wrapper-content {
    display: flex;
    gap: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  &__wrapper-content a {
    color: #4F4F4F;
    &:last-child {
      color: #D80027;
    }
  }

  @media screen and (max-width: 1260px){
    &__wrapper-content {
      justify-content: left;
    }
  }

  @media screen and (max-width: 640px) {
    &__wrapper-content {
      font-size: 3vw;
    }
  }
}
